<h2>
  Tab Panel
</h2>

<div class="container">
    <csf-tab-panel>
        <csf-tab title="login">
            <form>
                <div class="form-field">
                    <label>Email:</label><input>
                </div>
                <div class="form-field">
                    <label>Password:</label><input>
                </div>
            </form>
        </csf-tab>

        <csf-tab title="Sign Up">
            <form>
                <div class="form-field">
                    <label>Email:</label><input>
                </div>
                <div class="form-field">
                    <label>Password:</label><input>
                </div>
                <div class="form-field">
                    <label>Confirm Password:</label><input>
                </div>
            </form>
        </csf-tab>

        <csf-tab title="Contact">
            <form>
                <div class="form-field">
                    <label>Email:</label><input>
                </div>
                <div class="form-field">
                    <label>Message:</label>
                    <textarea></textarea>
                </div>
            </form>
        </csf-tab>
    </csf-tab-panel>

</div>


